{{#wn-card
  onsubmit=attrs.onsubmit
  buttonText='Submit'}}
  <div class="row">
    {{wn-input
      classNames='col s12'
      label='What is your service type?'}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12'
      label='Residence Types'}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12'
      label='Building Types'}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12'
      label='Payment Method'}}
  </div>
{{/wn-card}}
