{{#wn-card
  onsubmit=attrs.onsubmit
  buttonText='Submit'}}
  <div class="row">
    <h6>What is your service type?</h6>
    {{#wn-dropdown title="Choose One"}}
      <li><a href="#!">Residential</a></li>
      <li><a href="#!">Commercial</a></li>
    {{/wn-dropdown}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12'
      label='Residence Types'}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12'
      label='Building Types'}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12'
      label='Payment Method'}}
  </div>
{{/wn-card}}
