{{#wn-card
  onsubmit=attrs.onsubmit
  title='Admin Login'
  buttonText='Login'}}
  <div class="row">
    {{wn-input
      classNames='col s12'
      type='email'
      label='Username'}}
  </div>
  <div class="row">
    {{wn-input
      classNames='col s12'
      type='password'
      label='Password'}}
  </div>
{{/wn-card}}
