<div class="row center-align">
  <div>
    <p>WasteNot Compost | Ravenswood, Chicago | (773) 219-2995 | Liam@WasteNotCompost.com</p>
  </div>
<!--

  <div class="col s12 m6 l3">
    <p> </p>
  </div>
  <div class="col s12 m6 l3">
    <p> </p>
  </div>
  <div class="col s12 m6 l3">
    <p> </p>
  </div>
-->
</div>

<div class='center-align'>
  <a href="https://facebook.com/WasteNotChicago"
     title="facebook"
     target="_blank">
    {{fa-icon "facebook-official" size=3}}
  </a>

  <a href="https://www.instagram.com/wastenotcompost/"
     title="instagram"
     target="_blank">
    {{fa-icon "instagram" size=3}}
  </a>

  <a href="https://twitter.com/WasteNotChicago"
     title="twitter"
     target="_blank">
    {{fa-icon "twitter" size=3}}
  </a>
</div>

{{#md-copyright text='WasteNot Compost' startyear=2016}}
  <span class="right">Website created by AlienCyborg</span>
{{/md-copyright}}
