@import "components/color";

// Materialize Overrides
$primary-color: color("green", "lighten-2");
$secondary-color: color("deep-orange", "lighten-1");
$link-color: color("blue", "darken-4");

// Custom
$background-color: color("brown", "lighten-3");
$navbar-color: color("brown", "darken-2");
$restricted-color: color("pink", "darken-3");
$restricted-active-color: color("pink", "darken-4");
