// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "components/variables";
@import "variables";
@import "materialize";
@import "ember-cli-materialize";

body {
  background-color: $background-color;
  padding: 15px;
}

nav {
  @extend .brown, .darken-2;

  ul a.active {
    @extend .brown, .lighten-2;
  }
}

.background-white {
  @extend .white;
}

.background-green {
  @extend .green, .darken-1, .white-text;
}

.liquid-container {
  padding: 1rem;
  transform: none;
  -webkit-transform: none;
}

.page-footer {
  @extend .green, .lighten-2;

  .footer-copyright {
    @extend .brown, .darken-2;
  }

  .footer-social a {
    @extend .blue-text, .text-darken-4;
  }
}

.sign-up {
  @extend .amber, .darken-1, .black-text;
}

.submit-button, .details-button {
  margin: 2px;
}

.submit-button {
  @extend .purple;
}

.details-button {
  @extend .deep-orange;
}
