// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "variables";
@import "materialize";

body {
  background-color: $background-color;
  padding: 15px;
}

.background-white {
  @extend .white;
}

.background-green {
  @extend .green, .darken-1, .white-text;
}

.liquid-container {
  transform: none;
  -webkit-transform: none;
}
