// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import "variables";
@import "components/variables";
@import "materialize";
@import "ember-cli-materialize";

body {
  background-color: $background-color;
  padding: 15px;

  .row > .input-field {
    margin: 1.5rem 0;
  }
}

.liquid-container {
  padding: 1rem;
  transform: none;
  -webkit-transform: none;
}

nav {
  background-color: $navbar-color;
}

footer.page-footer {
  .footer-copyright {
    background-color: $navbar-color;
  }
}

.btn {
  color: $off-black;
}
