<h3>Our Story</h3>

<div class="row">
  <div class="col s12 m6">
    <div class="center-align">
      <img alt="Liam completing pick up"
           class="responsive-img"
           src="/assets/images/liamabout.png"
           title="founder Liam on another pick-up">
    </div>
  </div>

  <div class="col s12 m6">
    <p class="flow-text">
    Miscommunication turned dream for founder Liam Donnelly in 2012. While
    hauling the sixth garbage bag of the day to the already overflowing
    dumpster, Liam realized the local cafe was approaching waste with an
    afterthought. WasteNot Compost was born.
    </p>

    <blockquote>
      <em>“Begin a conversation with Liam Donnelly, who is an amazingly
        industrious human and get to composting!!! Go now!!”</em>
      <br>
      <br>
      — William Goodwin, owner of Spoken
    </blockquote>
  </div>
</div>
