
<h2>Liam's Story</h2>
<br>
<table style="50%">
  <tr><th></th>
      <th></th>
  </tr>
  <tr><td><img src="assets/images/liamabout.png" alt="liam completing pick up"></td>
      <td> <p> <h2> Miscommunication turned dream for founder Liam Donnelly in 2012. While hauling the sixth garbage bag of the day to the already overflowing dumpster, Liam realized the local cafe was approaching waste with an afterthought. WasteNot Compost was born. </h2> </p></td>
  </tr>
</table>
<br>
<p align="middle"> <em> “Begin a conversation with Liam Donnelly, who is an amazingly industrious human and get to composting!!! Go now!!” </em>

— William Goodwin, owner of <em>Spoken</em> </p>
