<h3>If it grows, it goes</h3>

<p class="flow-text responsive"> Through its partnership with Nature’s Little Recyclers, a worm farm located in Chicago’s back of the Yards neighborhood, WasteNot is able to accept a much greater variety of waste than traditional composting allows:</p>

<table class="responsive">
  <div class="row">
    <td width="2%">
    <li><p>&nbsp;</p></li>
    </td>
    <td class="responsive" width="95%">
       <li>Vegetables (fresh/cooked) </li>
       <li>Coffee Grounds & Filters</li>
       <li>Loose Leaf Tea & Filters</li>
       <li>Fruits</li>
       <li>Mushrooms</li>
       <li>Yard Waste</li>
       <li>Breads and baked goods</li>
       <li>Nuts</li>
       <li>Plant Trimmings</li>
       <li>Rice and Grains</li>
       <li>Natural Fibers</li>
       <li>Egg Shells (We encourage rinsing) </li>
       <li>Meat</li>
       <li>Dairy</li>
       <li>Soiled paper products (Check to see if the paper if certified compostable)</li>
       <li>BPI certified compostable bags</li>
       <li>BPI certified compostable paper and other products</li>
       <li>Houseplant scraps</li>
       <li>PLA Natureworks products</li>
       <li>Spices and herbs</li>
       <li>Extinguished/cold ashes from fireplaces and grills</li>
       <li>Wood shavings and sawdust</li>
    </td>
  </div>
</table>

  <a class="responsive" href="assets/brochure.pdf" target="_blank">
          {{md-btn text='download brochure'
          buttonType='large'
          }}
        </a>
