<h1>We're so excited to work with you!</h1>
<p><em>...but we need a little more information</em></p>
<form>
  <table style="width:100%">
    <tr>
      <th align="right">What is your service type?</th>
    </tr>
    <tr>
      <th align="right"><em>(Choose one)</em></th>
    </tr>
      <tr>
        <th><input type="radio" id="text" value="residential"> resdential<br></th>
        <th><input type="radio" id="text" value="commercial"> commercial<br></th>
        <br>
        <br>
      </tr>
  </table>
  <table style="width:100%">
    <tr>
      <th align="middle"><em>(Select all the apply)</em></th>
        </tr>
        <tr>
          <th>Type of residence</th>
          <th>Type of building</th>
        </tr>
        <tr>
          <th align="middle"><input type="radio" id="text" value="Single Family"> Single Family<br></th>
          <th align="middle"><input type="radio" id="text" value="Condominium Properites"> Condominium Properites<br></th>
        </tr>
        <tr>
          <th align="middle"><input type="radio" id="text" value="Two Flat"> Two Flat<br></th>
          <th align="middle"><input type="radio" id="text" value="Apartment Buildings"> Apartment Buildings<br></th>
        </tr>
        <tr>
          <th align="middle"><input type="radio" id="text" value="Single Condominium"> Single Condominium<br></th>
          <th align="middle"><input type="radio" id="text" value="Sky-Rise"> Sky-Rise<br></th>
        </tr>
      </table>
</form>
<form>
  <table>

  </table>
</form>
