<h1>We're so excited to work with you!</h1>
<p><em>...but we need a little more information</em></p>
<form>
  <table style="width:35%">
    <tr>
      <th>What is your service type?</th>
    </tr>
    <tr>
      <th><em><colspan>(Choose one)</colspan></em></th>
    </tr>
    <tr>
      <table style="width:100%">
        <tr>
          <th>resdential<input type="radio" id="text" value="residential"><br></th>
          <th>commercial<input type="radio" id="text" value="commercial"><br></th>
          <br>
          <br>
        </tr>
      </table>
    </tr>
    <tr>
      <th><em>(Select all that apply)</em></th>
    </tr>
    <tr>
      <table style="width:100%">
        <tr>
          <th>
          <br>
            <table style="width:100%">
              <tr><th>Residence Types</th></tr>
              <tr><th align="right">Single Family<input type="radio" id="text" value="Single Family"> <br></th></tr>
              <tr><th align="right">Two Flat<input type="radio" id="text" value="Two Flat"> <br></th></tr>
              <tr><th align="right">Single Condo<input type="radio" id="text" value="Single Condo"> <br></th></tr>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </table>
          </th>
          <th>
            <table style="width:100%" align="right">
              <tr><th>Building Types</th></tr>
              <tr><th align="right">Condominium Properites<input type="radio" id="text" value="Condominium Properites"> <br></th></tr>
              <tr><th align="right">Apartment Buildings<input type="radio" id="text" value="Apartment Buildings"> <br></th></tr>
              <tr><th align="right">Sky-Rise<input type="radio" id="text" value="Sky-Rise"> <br></th></tr>
              <tr><th align="right">Office<input type="radio" id="text" value="Office"> <br></th></tr>
              <tr><th align="right">Restaurant<input type="radio" id="text" value="Restaurant"> <br></th></tr>
              <tr><th align="right">Juice Bar<input type="radio" id="text" value="Juice Bar"> <br></th></tr>
              <tr><th align="right">Cafe<input type="radio" id="text" value="Cafe"> <br></th></tr>
            </table>
          </th>
        </tr>
      </table>
    </tr>
</table>
</form>
<form>
  <table style="width:35%">
    <tr>
      <th>Payment Method</th>
    </tr>
    <tr>
      <th><em><colspan>(Choose one)</colspan></em></th>
    </tr>
    <tr>
      <table style="width:100%">
        <tr>
          <th>cash<input type="radio" id="text" value="cash"><br></th>
          <th>check<input type="radio" id="text" value="check"><br></th>
        </tr>
      </table>
    </tr>
    <tr>
      <form align="middle" action="/thanks">
        <button>Submit</button>
      </form>
    </tr>
  </table>
</form>
