<h1 align="middle"> Sign Up For More Info </h1>

<h2 align="middle"> Contact Details </h2>
<!--here starts the form-->
<form autocomplete="off" method="get" action=/thanks>
<table style="width:80%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <tr>
    <th><input type="text" id="first name" value=""><br></th>
    <th><input type="text" id="last name" value=""><br></th>
  </tr>
  <tr>
    <th>House number</th>
    <th>Street</th>
    <th>Apt/Suite</th>
  </tr>
  <tr>
    <th><input type="numeric" id="house number" value=""><br></th>
    <th><input type="text" id="address" value=""><br></th>
    <th><input type="text" id="apt or suite" value=""><br></th>
  </tr>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>
  <tr>
    <th><input type="text" id="city" value=""><br></th>
    <th><input type="text" id="state" value=""><br></th>
    <th><input type="numeric" id="zip code" value=""><br></th>
  </tr>
  <tr>
    <th>Email Address</th>
    <th>Phone</th>
  </tr>
  <tr>
    <th><input type="text" id="email" value=""><br></th>
    <th><input type="text" id="phone" value=""><br></th>
  </tr>
</table>
  <p align="middle"><input type="submit" id="Submit"></p>
</form>
