<img src="assets/images/wastenot_logo.jpg" alt="WasteNot Logo" align="middle">

  <p align="middle"> Chicago’s ﬁrst zero-emissions compost collection service for home & business</p>
    <br>
  <p><h2>How does composting work?</h2>
    <br>
  <!--Insert information about composting process here-->
    <table style="Width 100%">
      <tr><th>Step 1</th>
          <th>Step 2</th>
          <th>Step 3</th>
          <th>Step 4</th>
      </tr>
      <tr><td>bucket</td>
          <td>pick up</td>
          <td>dirt</td>
          <td>stuff</td>
      </tr>
    </table>
  </p>
    <br>
    <br>
  <p align="middle"> WASTENOT COMPOST
    <br> Ravenswood, Chicago
    <br> (773)-219-2995
    <br> liam@wastenotcompost.com
  </p>
  <p align="middle">
    <a href="https://facebook.com/WasteNotChicago" title="facebook"> {{fa-icon "facebook-official" size="lg"}}  </a>
    <a href="https://www.instagram.com/wastenotcompost/" title="instagram"> {{fa-icon "instagram" size=5}}</a>
    <a href="https://twitter.com/WasteNotChicago" title="twitter"> {{fa-icon "twitter" size=3}} </a>
    <br>
  </p>
