<img src="assets/images/wastenot_logo.jpg" alt="WasteNot Logo" align="middle">

  <p align="middle"> Chicago’s ﬁrst zero-emissions compost collection service for home & business.</p>
    <br>
  <p align="middle"> WASTENOT COMPOST <br>  Ravenswood, Chicago <br> (773)-219-2995 <br> liam@wastenotcompost.com </p>
    <br>
  <p align="middle"> Facebook: www.facebook.com/wastenotchicago <br> Instagram: @wastenotcompost <br>
Twitter: @wastenotchicago </p>
