<div class="center-align">
  <img alt="WasteNot Logo"
       class="responsive-img"
       src="assets/images/wastenot_logo.jpg">
</div>

<h4 class="center-align">
  Chicago’s ﬁrst zero-emissions compost collection service for home & business.
</h4>

<div class="center-align">
  {{#link-to 'register'}}
    {{md-btn text='Sign Up'
      buttonType='large'
      class='sign-up'
    }}
  {{/link-to}}
</div>
