<div class="row title">
  <h3 class="center-align">
    Chicago’s ﬁrst zero-emissions compost collection service for home & business
  </h3>
</div>

<div class="container">

{{#slick-slider autoplay=true arrows=false}}
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_4438.jpg">
  <!--   title="this is the first image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_5067.jpg">
  <!--   title="this is the second image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_5700.jpg">
  <!--   title="this is the third image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_5821.jpg">
  <!--   title="this is the fourth image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_6509.jpg">
  <!--   title="this is the fifth image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_6705.jpg">
  <!--   title="What image number is this? It's sixth">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_6709.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_6793.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_6807.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_6845.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_6994.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_7019.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_7524.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_7591.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_7709.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_7710.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_7918.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_8166.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_8237.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
{{/slick-slider}}

</div>


<div class="row">
  <div class="col s12 m6">
    {{#md-card title="Step 1:"}}
      {{#md-card-content}}
        You sign up and we drop off a clean bucket with a fresh compostable
        liner and lid.
        <br>
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_1.png"
             title="we deliver your bucket to you">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 2:"}}
      {{#md-card-content}}
        You fill the bucket with compostable waste (food scraps, certified
        compostable serviceware, and other organic materials).
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_2.png"
             title="food scraps, serviceware, a liner to keep your bucket clean">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 3:"}}
      {{#md-card-content}}
        You leave the bucket out on pick-up day; we replace it with a cleaned
        bucket, fresh liner, and lid.
        <br>
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_3_1.jpg"
             title="we'll replace your bucket on pick-up day">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 4:"}}
      {{#md-card-content}}
        Your waste is transformed into premium, locally-sourced, black gold,
        otherwise known as compost.
        <br>
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_4.jpg"
             title="let the composting begin">

      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6 offset-m3">
    {{#md-card title="Step 5:"}}
      {{#md-card-content}}
        The compost gets distributed to community gardens, urban agriculture,
        or back to you.
        <br>
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_5_1.jpg"
             title="when the black gold is ready, we help redistribute it back to the earth">
      {{/md-card-content}}
    {{/md-card}}
  </div>
</div>

<div class="center-align">
  {{#link-to 'register'}}
    {{md-btn text='Sign Up'
    buttonType='large'
    class='sign-up'
    }}
  {{/link-to}}
</div>
