<h3>Home</h3>

<div class="center-align">
  <img alt="WasteNot Logo"
       class="responsive-img"
       src="assets/images/wastenot_logo.jpg">
</div>

<h4 class="center-align">
  Chicago’s ﬁrst zero-emissions compost collection service for home & business.
</h4>

<div class="row">
  <div class="col s12 m6">
    {{#md-card title="Step 1:"}}
      {{#md-card-content}}
        You sign up and we drop off a clean bucket with a fresh compostable
        liner and lid.
        <img alt="Bucket"
             class="responsive-img"
             src="assets/images/step_1.png">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 2:"}}
      {{#md-card-content}}
        You fill the bucket with compostable waste (food scraps, certified
        compostable serviceware, and other organic materials).
        <img alt="Bucket"
             class="responsive-img"
             src="assets/images/step_2.png">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 3:"}}
      {{#md-card-content}}
        You leave the bucket out on pickup-day; we replace it with a cleaned
        bucket, fresh liner, and lid.
        <img alt="Bucket"
             class="responsive-img"
             src="assets/images/step_3_1.jpg">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 4:"}}
      {{#md-card-content}}
        Your waste is transformed into premium, locally-sourced, black gold,
        otherwise known as compost.
        <img alt="Bucket"
             class="responsive-img"
             src="assets/images/step_4.jpg">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 5:"}}
      {{#md-card-content}}
        The compost gets distributed to community gardens, urban agriculture,
        or back to you.
        <img alt="Bucket"
             class="responsive-img"
             src="assets/images/step_5_1.jpg">
      {{/md-card-content}}
    {{/md-card}}
  </div>
</div>

<div class="center-align">
  {{#link-to 'register'}}
    {{md-btn text='Sign Up'
    buttonType='large'
    class='sign-up'
    }}
  {{/link-to}}
</div>
