<div class="row">
  <h3 class="center-align">
    Chicago’s ﬁrst zero-emissions compost collection service for home & business.
  </h3>
</div>
{{#slick-slider autoplay=true arrows=false}}
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_0164.JPG">
  <!--   title="this is the first image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_0165.JPG">
  <!--   title="this is the second image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_0166.JPG">
  <!--   title="this is the third image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_0169.JPG">
  <!--   title="this is the fourth image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_0170.JPG">
  <!--   title="this is the fifth image in the slide show">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3478.jpg">
  <!--   title="What image number is this? It's sixth">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3495.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3753.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3780.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3789.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3823.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3843.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3893.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3976.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>
  <div class="box">
    <img alt="image"
         class="responsive-img"
         src="/assets/images/IMG_3983.jpg">
  <!--   title="I think this is the 7th image">-->
  </div>


{{/slick-slider}}
<div class="row">
  <div class="col s12 m6">
    {{#md-card title="Step 1:"}}
      {{#md-card-content}}
        You sign up and we drop off a clean bucket with a fresh compostable
        liner and lid.
        <br>
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_1.png"
             title="we deliver your bucket to you">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 2:"}}
      {{#md-card-content}}
        You fill the bucket with compostable waste (food scraps, certified
        compostable serviceware, and other organic materials).
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_2.png"
             title="food scraps, serviceware, a liner to keep your bucket clean">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 3:"}}
      {{#md-card-content}}
        You leave the bucket out on pick-up day; we replace it with a cleaned
        bucket, fresh liner, and lid.
        <br>
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_3_1.jpg"
             title="we'll replace your bucket on pick-up day">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 4:"}}
      {{#md-card-content}}
        Your waste is transformed into premium, locally-sourced, black gold,
        otherwise known as compost.
        <br>
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_4.jpg"
             title="let the composting begin">

      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 5:" class="center-align"}}
      {{#md-card-content}}
        The compost gets distributed to community gardens, urban agriculture,
        or back to you.
        <br>
        <br>
        <img alt="Bucket"
             class="responsive-img"
             src="/assets/images/step_5_1.jpg"
             title="when the black gold is ready, we help redistribute it back to the earth">
      {{/md-card-content}}
    {{/md-card}}
  </div>
</div>

<div class="center-align">
  {{#link-to 'register'}}
    {{md-btn text='Sign Up'
    buttonType='large'
    class='sign-up'
    }}
  {{/link-to}}
</div>
