<div class="row">
<h3 class="center-align">
  Chicago’s ﬁrst zero-emissions compost collection service for home & business
</h3>
</div>

<div class="container">
<div class="row">
{{#slick-slider autoplay=true arrows=false}}
  <div class="box center-align"> <img alt="image 1"
       class="responsive-img"
       src="/assets/images/img_0165.jpg"> </div>
<!--       title="this is the first image in the slide show"> </div> -->
  <div class="box"> <img alt="image 2"
       class="responsive-img"
       src="/assets/images/img_0169.jpg"> </div>
<!--       title="this is the second image in the slide show"> </div> -->
  <div class="box"> <img alt="imag 3"
       class="responsive-img"
       src="/assets/images/img_0166.jpg"> </div>
<!--       title="this is the third image in the slide show"> </div> -->
  <div class="box"> <img alt="image 4"
       class="responsive-img"
       src="/assets/images/img_0164.jpg"> </div>
<!--       title="this is the fourth image in the slide show"> </div> -->
  <div class="box"> <img alt="image 5"
       class="responsive-img"
       src="/assets/images/img_0170.jpg"> </div>
<!--       title="this is the fifth image in the slide show"> </div> -->
 <div class="box"> <img alt="image 6"
       class="responsive-img"
       src="/assets/images/img_3478.jpg"> </div>
<!--       title="What image number is this? It's sixth"> </div> -->
 <div class="box"> <img alt="image 7"
      class="responsive-img"
      src="/assets/images/img_3495.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
 <div class="box"> <img alt="image 8"
      class="responsive-img"
      src="/assets/images/img_3753.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
 <div class="box"> <img alt="image 9"
      class="responsive-img"
      src="/assets/images/img_3780.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
 <div class="box"> <img alt="image 10"
      class="responsive-img"
      src="/assets/images/img_3789.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
 <div class="box"> <img alt="image 11"
      class="responsive-img"
      src="/assets/images/img_3823.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
 <div class="box"> <img alt="image 12"
      class="responsive-img"
      src="/assets/images/img_3843.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
 <div class="box"> <img alt="image 13"
      class="responsive-img"
      src="/assets/images/img_3893.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
 <div class="box"> <img alt="image 14"
      class="responsive-img"
      src="/assets/images/img_3976.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
 <div class="box"> <img alt="image 15"
      class="responsive-img"
      src="/assets/images/img_3983.jpg"> </div>
<!--      title="I think this is the 7th image"> </div> -->
{{/slick-slider}}
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    {{#md-card title="Step 1:"}}
      {{#md-card-content}}
        You sign up and we drop off a clean bucket with a fresh compostable
        liner and lid.
        <br>
        <br>
        <img alt="bucket on your front steps"
             class="responsive-img"
             src="/assets/images/step_1.png"
             title="we deliver your bucket to you">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 2:"}}
      {{#md-card-content}}
        You fill the bucket with compostable waste (food scraps, certified
        compostable serviceware, and other organic materials).
        <img alt="stuff inside the bucket"
             class="responsive-img"
             src="/assets/images/step_2.png"
             title="food scraps, serviceware, a liner to keep your bucket clean">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 3:"}}
      {{#md-card-content}}
        You leave the bucket out on pick-up day; we replace it with a cleaned
        bucket, fresh liner, and lid.
        <br>
        <br>
        <img alt="picking up your compost bucket"
             class="responsive-img"
             src="/assets/images/step_3_1.jpg"
             title="we'll replace your bucket on pick-up day">
      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
    {{#md-card title="Step 4:"}}
      {{#md-card-content}}
        Your waste is transformed into premium, locally-sourced, black gold,
        otherwise known as compost.
        <br>
        <br>
        <img alt="composting process"
             class="responsive-img"
             src="/assets/images/step_4.jpg"
             title="let the composting begin">

      {{/md-card-content}}
    {{/md-card}}
  </div>

  <div class="col s12 m6">
      {{#md-card title="Step 5:" class="center-align"}}
      {{#md-card-content}}
        The compost gets distributed to community gardens, urban agriculture,
        or back to you.
        <br>
        <br>
        <img alt="redistribution can"
             class="responsive-img"
             src="/assets/images/step_5_1.jpg"
             title="when the black gold is ready, we help redistribute it back to the earth">
      {{/md-card-content}}
    {{/md-card}}
  </div>
</div>

<div class="center-align">
  {{#link-to 'register'}}
    {{md-btn text='Sign Up'
    buttonType='large'
    class='sign-up'
    }}
  {{/link-to}}
</div>
