<h1 align="middle"> Our services </h1>
<br>
<p align="middle"> <b>WasteNot Compost</b> provides composting services to a wide array of individuals, businesses, and organizations. As Chicago’s ﬁrst zero-emissions compost collection service, we specialize in creating programs to ﬁt everyone’s needs.</p>
<table>
  <table style="width:150%" align="left">
    <tr>
      <td> <h2>Benefits of Composting</h2>
        <hr>
          <p align="middle">Composting with WasteNot will provide not only your business or home with environmental beneﬁts, but ﬁnancial advantages</p>
        </td>
      </tr>
    <tr>
      <td> <h3> Environmental Benefits:</h3>
          <br>1. Landfill Diversion
          <br>2. Compost Improves Soil Productivity
          <br>3. Significant Reduction in Greenhouse Gas Emissions & Better Air
          <br>4. Increases Resource Efficiency
          <br>5. Boosts our Economy
      </td>
    </tr>
    <tr>
      <h3> Business Benefits: </h3>
        <br>1. Reduces Hauling Prices
        <br>2. Improves Image & Appeal to the Environmentally Conscious
        <br>3. Increases Profits
        <br>4. Helps One Keep Up With Competition
        <br>5. Improves Health and Sanitation in the Workplace
    </tr>
  <tr>
    <td> <img src="assets/images/benefits.jpg" alt="compost in bins" align="left" height="200" width="300">
    </td>
  </tr>
  </table>
<td>
<table style="width:50%" align="right">
<tr>
  <h3>COMMERCIAL:</h3>
    <hr>
      <p> <b>WasteNot Compost</b> specializes in commercial compost collection from restaurants, cafes, breweries, and others. Beneﬁts include waste audits, consultations, diversion reports, and marketing advantages. Also, WasteNot tailors composting programs to ﬁt your business’s needs and wants.</p>
</tr>
<tr>
  <h3>RESIDENTIAL:</h3>
    <hr>
      <p> <b>WasteNot Compost</b> understands the difﬁculties composting on your own can pose and responded to this with it’s residential composting service. Accepting virtually all food-waste and many more compostable materials in its bucket program, weekly and bi-weekly service is available. Let us get dirty.</p>
</tr>
<tr>
  <h3> AND MORE: </h3>
    <hr>
      <p>Almost everyone produces compostable waste. <b>WasteNot Compost</b> also serves schools, gardens, ofﬁces, apartment complexes and farmers markets. With a plan tailored to ﬁt every customer’s needs, WasteNot will be able to make sustainability a possibility for everyone. </p>
</tr>
</table>
</td>
</table>
