{{#if (eq model.serviceType 'commercial')}}
  <h4>
    Thank you for your interest in <strong>Waste Not Compost</strong> Business
    composting services. We'll be in touch soon.
  </h4>
{{else}}
  <h2>
    Thank you for your interest in <strong>Waste Not Compost!</strong>
  </h2>
{{/if}}
